@using OnlineStore.Services.Users
@model OnlineStore.Data.Models.Entities.ProductsModel
@inject LoggedUserService loggedUserService

<h2>Create Product</h2>

@if (loggedUserService.IsAdmin)
{
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" type="number" step="0.01" />
        </div>
        <div class="form-group">
            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Category"></label>
            <input asp-for="Category" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    <hr />

    <h3>Product Images</h3>

    <div class="alert alert-secondary">
        <p>To edit images first create the product then edit it</p>
    </div>
} else 
{
    <div class="alert alert-danger">
        <strong>You do not have access to this page.</strong>
    </div>
}
