@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="container-xl" style="background-color:rgba(0, 0, 0, 0.2);object-fit: cover; padding-top: 6em; padding-bottom: 6em;">
        <div style="background: url(https://images.unsplash.com/photo-1630342654882-aed9e2e86f24?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
        </div>
        <h1>Welcome to The Store</h1>
        <p class="lead">The Store is a store that sells products. We specialise in business, shops and products</p>
    </div>
    <p>As you can see, The Store has many products you may buy or purchase. It is very store-like and big big business. Please buy our stuffs</p>


    <div style="margin-top: 30px;">
        <a class="btn btn-primary" href="/Product/All">View Products</a>
        <a class="btn btn-outline-secondary" href="@Url.Action("ViewCart", "ShoppingCart")">View Cart</a>
    </div>
</div>