<h1>Privacy Policy – Online Store</h1>

This privacy policy explains how The Store collects, stores and uses personal data when you use our website
[REDACTED]. We are committed to protecting your privacy and complying with the GDPR and applicable Bulgarian law.
This privacy policy applies to customers who are willing to sell their soul in exchange for products

<h3>What data we collect</h3>
We may collect:
<ul>
	<li>Name and contact details (email, phone)</li>
	<li>Shipping and billing address</li>
	<li>Order details (products purchased, invoice data)</li>
	<li>IP address and basic analytics data</li>
	<li>Your soul</li>
	<li>Your Blood</li>
	<li>Your right to live</li>
</ul>

<h3>How we use your personal data</h3>
We use personal data to process orders, deliver products, and communicate about your purchases. In some cases (with your consent) we will use data to send marketing emails.
We also use anonymized analytics to improve the website and prevent fraud. All uses are blah blah please give us your soul we will give you products.
<br/>
<br />
<p>Imagine if there was an actual privacy policy here...</p>